@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url(/Font/Montserrat/Montserrat-Medium.ttf);
}
*{
    /*font-family:'Montserrat', sans-serif ;*/
}

.cardDiv{
    display: inline-block;
    text-align: center;
    height:60vh;
    width:100%;
    /*margin: 0px 1.66%;*/
    /* margin-left: 10vw;
    margin-right: 10vw; */    
    /*border-radius: 25px;    */
    /*border:solid #1f1d1d65 ;*/
    border-radius: 30px; 
    padding: 0;  
  }



  .cardThumbnail{
      width:100%;
      height:auto;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
  }

  .cardDescription{
    display: block;
    width:100%;
    
}




.textStyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    /*letter-spacing: 2px ;*/

    
}

.tittle{
    font-size: 24px ;
    font-weight: 600;
    color: #606060;
    /*letter-spacing: 6px;*/
    font-style: oblique;
    display: flex;
}

.subtittle{
    font-size: 36px;
    font-weight: 400 ;
    color: #1f1d1d65;
    /*letter-spacing: px;*/
    font-style: oblique;    
}

@media only screen and (max-height: 800px) {
    .subtittle{
        font-size: 14px;         
    }
    .tittle{
        font-size: 16px ;     
    }
    .textStyle{        
        font-size: 12px;
    }  
  }