.JBH1{
    font-size: 36px;
    text-align: center;
}

.JBText{
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-height: 800px) {
    .JBH1{
        font-size: 16px;
    }
    
    .JBText{
        font-size: 14px;        
    }
   

  }
.SicaLogo{
    width: 30%;
    margin: 0 35%;
}
