@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url(/Font/Montserrat/Montserrat-Medium.ttf);
}
*{
    /*font-family:'Montserrat', sans-serif ;*/
}

.cardDiv{
    display: inline-block;
    text-align: center;
    height:auto;
    width:30%;
    margin: 10px 1.66%;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    
    /*border-radius: 25px;    */
    border:solid #1f1d1d65 ;
    
  }

  .cardThumbnail{
      width:100%;
      height:auto;
  }

  .cardDescription{
    display: inline;
    width:60%;
    height: auto;
}




.textStyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    /*letter-spacing: 2px ;*/

    
}

.tittle{
    font-size: 48px ;
    font-weight: 600;
    color: black;
    /*letter-spacing: 6px;*/
    font-style: oblique;
}

.subtittle{

    font-size: 36px;
    font-weight: 400 ;
    color: #1f1d1d65;
    /*letter-spacing: px;*/
    font-style: oblique;
    
}