*{
    font-family: 'Montserrat', sans-serif;
    color:#606060;
}

body{
    position:initial !important;
    overflow: initial;   
    background-color: #ffffff;
}

ion-app{
    contain:none !important;
    overflow: initial !important;
    display: block !important;
}

.jumbotron{
    background-color: #eeeeee;
}

.imgUE{
    width: 35%;
    height: auto;
    margin-left: 32.5%;
    margin-top: 20px;

}
.carousel-control-prev-icon{
    /*background: url('https://image.shutterstock.com/image-vector/arrow-icon-flat-design-style-260nw-577348474.jpg') !important;*/
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}