*{
    font-family: 'Montserrat', sans-serif;;
}

body{
    position:initial !important;
    overflow: initial;   
    background-color: #fdfdfd;
}

ion-app{
    contain:none !important;
    overflow: initial !important;
    display: block !important;
}

.jumbotron{
    background-color: #eeeeee;
}

